<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Burndown - {{sprintName}}</title>
  <link rel="stylesheet" href="https://ivantagecdn.com/ivantage/bootstrap/v1.0.3/css/bootstrap.min.css">
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Burndown - {{sprintName}}</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{{boardUrl}}">Trello Board</a></li>
      </ul>
    </div>
  </nav>

  <section class="container" style="margin-top: 30px">
    <div id="points"></div>
    <div id="counts"></div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.4/highcharts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.4/highcharts-more.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/javascript">
    var _data = {
      storyPoints: [
        {{join storyPoints}}
      ],
      storyCount: [
        {{join storyCount}}
      ],
      time: [
        {{join time}}
      ]
    };

    Highcharts.setOptions({
      chart: {type: 'spline'},
      xAxis: {
        type: 'datetime',
        tickInterval: 1 * 24 * 60 * 60 * 1000 // 1 Day
        {{#if endDate}}
        , max: moment('{{endDate}}', 'MMM D YYYY').valueOf()
        {{/if}}
      },
      credits: {
        enabled: false
      }
    });

    $(function() {
      $('#points').highcharts({
        title: {text: '{{sprintName}} - Points'},
        yAxis: [{
          title: {
            text: 'Story Points'
          },
          min: 0
        }],
        series: [{
          name: 'Story Points Remaining',
          data: _data.time.map(function(date, ix) {
            return [date, _data.storyPoints[ix]];
          })
        }]
      });
    
      $('#counts').highcharts({
        title: {text: '{{sprintName}} - Counts'},
        yAxis: [{
          title: {
            text: 'Count of Stories'
          },
          min: 0
        }],
        series: [{
          name: 'Count of Stories Remaining',
          data: _data.time.map(function(date, ix) {
            return [date, _data.storyCount[ix]];
          })
        }]
      });
    });
  </script>
</body>
</html>
